.columns{
    margin:10%;
    margin-top:1%;
}
.loading{
    margin-top:15%;
    font-size: 50px;
    margin-left:43%;
}
.headerText{
    margin-top:1%;
    margin-left:29%;
    font-size: 40px !important;
}
.second {
    margin-top:-1%;
}
.image-passive{
    background-color:red;
    width: 48px;
    height: 48px;
}
.image-active{
    background-color:green;
    width: 48px;
    height: 48px;
}
.card-css{
    height: 210px !important;
}
.yazi{
    font-size: 20px !important;
}