.columns{
    margin:10%;
    margin-top:1%;
}
.loading{
    margin-top:15%;
    font-size: 50px;
    margin-left:43%;
}
.headerText{
    margin-top:1%;
    margin-left:29%;
    font-size: 40px !important;
}
.second {
    margin-top:-1%;
}
.image-passive{
    background-color:red;
    width: 48px;
    height: 48px;
}
.image-active{
    background-color:green;
    width: 48px;
    height: 48px;
}
.card-css{
    height: 210px !important;
}
.yazi{
    font-size: 20px !important;
}

.homeVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
    margin: 0;
    object-fit: fill;
}

@media (min-width: 600px) {
    .MuiGrid-grid-sm-12-152 {
      flex-grow: 0;
      width: 50%;
      float: left;
      flex-basis: 100%;
    }
  }

.badgets{
    margin: -15px 10px 15px 15px;
    color: dimgray;
    font-weight: bold;
}
.MuiBadge-badge-250 {
    top: 0px !important; 
    right: -26px !important;
}